/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 Ara 2023, 22:05:44
    Author     : hakkimertpeyk
*/
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

#cart {
    width: 70%;
    margin: 20px auto;
}

#cart h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

#cart ul {
    list-style: none;
    padding: 0;
}

#cart li {
    margin-bottom: 10px;
}

#total {
    font-size: 1.2em;
    text-align: right;
    margin-top: 20px;
}

